html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.App{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color: burlywood;
    background-size: cover;
    padding-top: 45px;
    min-height: 100vh;  
}

.text-center{
    background-color: lightskyblue;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1cm;
    width: 7cm;
    margin-left: auto;
    font-style: italic;
    font-size:0.95cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 0 50px gray;
    border: solid 2px;
    border-color: red;
}
.add{
    color: blue;
    background-color: lightcyan;
    border: solid 2px;
    border-radius: 4px;
    margin-left: 1.1cm;
    margin-bottom: 0.2cm;
    width: 3cm;
    height: 1.2cm;
    border-color: red;
    
}
.add:hover{
    color: blanchedalmond;
    background-color: lightskyblue;
}

.table-center {
    margin: 0 auto; 
    width: 80%;
    border-collapse: collapse; 
    border: 2px solid red; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}


.table-center th, .table-center td {
    padding: 8px 12px;
    border: 1px solid #ddd; 
    text-align: left;
    vertical-align: middle; 
}

.table-center thead {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd; 
}


.table-center tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-center tbody tr:nth-child(odd) {
    background-color: lightsteelblue;
}

.table-center tbody tr:hover {
    background-color: lightgreen;
}

.form-check {
    align-items: center;
}

.form-check input[type="checkbox"] {
    transform: scale(1.25);
    margin-bottom: 5px;
}
#comp{
    width: 1cm;
}
#act{
    width: 5cm;
}
.card{

    margin-top: 5cm;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.card .form-control-lg {
    height: 2cm;
    margin-bottom: 15px; 
    font-size: 1.1rem; 
    border-radius: 5px;
    border: 2px solid #ccc;
}

.card .form-control {
    height: 2cm;
    margin-bottom: 15px;
    font-size: 1.05rem; 
    border-radius: 5px;
    border: 2px solid #ccc;
}

.card .submit {
    width: 100%; 
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
}

.card .submit:hover {
    background-color: lightskyblue;
}
textarea::placeholder {
    font-size: 1.2rem; 
    font-weight: bold;
    color: gray;
}

textarea.title-input {
    font-size: 2rem;
    font-weight: bold;
}


textarea.description-input {
    font-size: 1.2rem; 
}
